html {
    font-size: 1.35vw;
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
}

body, p, h1, h2, h3, h4, h5, h6 {
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

@font-face {
    font: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}

.logo-nav {
    padding-top: 2.65rem;
    padding-bottom: 8.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    display: flex;
}

.logo {
    display: inline-block;
}

.nav li {
    display: inline-block;
    position: relative;
    margin-left: 1.8rem;
    color: #fff;
}

.nav a:hover {
    border-bottom: 1px solid #fff;
}

.description {
    background: url('../images/kinozal.jpg') no-repeat center / cover;
    background-size: cover;
    height: 100vh;
}

.description__content {
    width: 51.5rem;
    margin: auto;

}

.description::after {
    content: '';
    position: absolute;
    width: 110%;
    height: 10rem;
    transform: rotate(-4deg);
    background: #fff;
    top: 85%;
    bottom: 0px;
    left: 0;
}

.description h1{
    font-weight: 100;
}

.description h2{
    font-size: 2.9rem;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
}

.movie-list{
    padding: 5rem 0rem;
}

.movie-list__header{
    font-size: 2.3rem;
    color: rgb(37, 37, 37);
    font-weight: 700;
    margin: 0 0 4rem;
    text-align: center;
}

.container {
    width: 51.5rem;
    margin: 0 auto;
    position: relative;
    margin-top: 4.15rem;
    padding: 0 0.9rem;
}

.container_welcome {
    width: 51.5rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.movie-list__table{
    width: 51.5rem;
    border-collapse: collapse;
    border-radius: 0.75rem;
    overflow: hidden;
}

.movie-list__table th{
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    background: #a3cc40;
    padding: 0.95rem 0;
}

.movie-list__table tr:nth-child(odd){
    font-size: 1.1rem;
    color: #fff;
    background: #373737;
}

.movie-list__table tr{
    font-size: 1.1rem;
    color: #fff;
    background: #4b4d4f;
}

.movie-list__table td{
    font-weight: 200;
    padding: 0.95rem 0;
    text-align: left;
    /*vertical-align: top;*/
}

.movie-list__table a{
    text-decoration: none;
    color: #fff;
}

.section {
    margin: 0.75rem 0 0 0;
}

.sorting {
    font-size: 1.1rem;
    vertical-align: center;
}

p {
    font-size: 0.7rem;
    color: rgb(36, 36, 36);
    line-height: 1.2;
    font-weight: 200;
    margin-top: 0.75rem;
}

h1 {
    font-size: 4.65rem;
    color: rgb(255, 255, 255);
    font-weight: 200;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    color: rgb(37, 37, 37);
    font-weight: 700;
    line-height: 1.2;
}

h3 {
    font-size: 1.75rem;
    color: rgb(36, 36, 36);
    line-height: 1.2;
    text-align: center;
}

.advantages_grid {
    display: grid;
    grid-template-columns: 33.333333% 33.333333% 33.333333%;
}


.block_advantages_flex {

    text-align: center;
    margin-top: 6rem;
}

/* .block_advantages {
    float: left;
    width: 33.33%;
    margin: 0 auto;
    margin-top: 6rem;
} */

.block_advantages__image-wrap {
    position: relative;
    height: 10.55rem;
    margin-bottom: 2rem;
}

.block_advantages__image-wrap:hover {
    transform: scale(1.07)
}

.block_advantages__image-wrap img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


.advantages p {
    margin-top: 0.8rem;
    text-align: center;
}
  
.button {
    background: #a3cc40;
    text-decoration: none;
    border-radius: 0.75rem;
    color: #fff;
    padding: 1rem 1.5rem;
    display: inline-block;
    margin-top: 1.65rem;
}

.clear {
    clear: both;
}

.block_welcome {
    width: 25.8rem;
    padding: 2rem 1.5rem;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    position: absolute;
    top: -14rem;
    right: 0;
    z-index: 1;
}

.movie-grid__flex {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

.movie-grid__item {
    padding: 0.9rem;
    border-radius: 0.75rem
}

.movie-grid__inner1 {
    position: relative;
    overflow: hidden;
}

.movie-grid__poster img{
    display: block;
}

.movie-grid__description {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    bottom: -100%;
    background: rgba(144,210,61,0.8);
    border-radius: 0.4rem;
    padding: 1.15rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: 0.2s;
}

.movie-grid__item:hover .movie-grid__description {
    bottom: 0;
}

.movie-grid__text1 {
    font-size: 1rem;
    font-weight: 900;
    color: #fff;
    margin: 0 0 0.5rem;
}

.movie-grid__text2 {
    font-size: 0.9rem;
    color: #fff;
    flex: 1;
}

.movie-grid__hr {
    width: 4rem;
    height: 0.4rem;
    border: 0;
    box-shadow: none;
    margin: 0 0 0.7rem;
    background: #fff;
}

.movie-grid__svg {
    fill: #fff;
    transition: .2s;
}

.movie-grid__svg:hover {
    fill: green;
}

.movie-grid__link1 {
    text-decoration: none;
}

.gift {
    background-image: url('../images/gift.jpg');
    margin-bottom: 4.5rem;
    position: relative;
}

.gift__description {
    text-align: right;
    margin-left: 15rem;
    color: #fff;
    padding: 7.1rem 0;
}

.gift__img {
    position: absolute;
    margin-top: -5rem;
    z-index: 999;
}

.gift::before {
    content: '';
    position: absolute;
    width: 110%;
    height: 6.5rem;
    transform: rotate(-4deg);
    background: #fff;
    top: -13%;
    bottom: 0px;
    left: -10px;
}

.gift::after {
    content: '';
    position: absolute;
    width: 110%;
    height: 6.5rem;
    transform: rotate(-4deg);
    background: #fff;
    bottom: -8%;
}

.table_description p {
    text-align: center;
    margin-bottom: 4.1rem;
    margin-top: 2rem;
}

.films p{
    margin-top: 2.5rem;
    margin-bottom: 4rem;
}

.placeholder_map {
    background-image: url("../images/placeholder_map.jpeg");
    height: 22.5rem;
    margin-bottom: 0.75rem;
}

.footer {
    position: absolute;
    background: rgb(144, 210, 61);
    width: 100%;
    height: 11rem;
  }

.footer_description p {
    text-align: center;
    font-size: 0.9rem;
    color: #fff;

}

.social {
    text-align: center;
    margin-top: 3rem;
}

.social__facebook {
    background: url("../images/facebook.png") no-repeat;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
}

.social__twitter {
    background: url("../images/twitter.png") no-repeat;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    margin-left: 0.65rem;
}

.social__linkedin {
    background: url("../images/linkedin.png") no-repeat;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    margin-left: 0.65rem;
}

.social__google_plus {
    background: url("../images/google_plus.png") no-repeat;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    margin-left: 0.65rem;
}

.social__tumblr {
    background: url("../images/tumblr.png") no-repeat;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    margin-left: 0.65rem;
}

.form {
    margin-bottom: 0.75rem;
}

.owl-nav {
    position: relative;
    top: -114px;
    font-size: 40px;
    color: #909090;
}

.owl-prev {
    position: absolute;
    left: -30px;
}

.owl-next {
    position: absolute;
    right: -30px;
}